.DS_Store
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
/planora/Build planora_*.txt
!planora.xcodeproj/xcuserdata/zhangchengze.xcuserdatad/xcschemes/xcschememanagement.plist
