.DS_Store
**/.DS_Store
**/DerivedData/
**/build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
**/xcuserdata/
**/node_modules/
**/.next/
**/out/
**/next-env.d.ts
*.log
/planora/Build planora_*.txt
